[submodule "zlib"]
	path = zlib
	url = https://github.com/laggykiller/zlib.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng.git
[submodule "regex"]
	path = regex
	url = https://github.com/boostorg/regex.git
[submodule "program_options"]
	path = program_options
	url = https://github.com/boostorg/program_options.git
[submodule "system"]
	path = system
	url = https://github.com/boostorg/system.git
[submodule "apngasm"]
	path = apngasm
	url = https://github.com/laggykiller/apngasm
