[submodule "apngasm"]
	path = apngasm
	url = https://github.com/laggykiller/apngasm.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng.git
