[project] # Project metadata
name = "apngasm-python"
description = "A nanobind API for apngasm, a tool/library for APNG assembly/disassembly."
requires-python = ">=3.8"
readme = "README.md"
license = { "file" = "LICENSE" }
authors = [{ "name" = "chaudominic", "email" = "chaudominic2@gmail.com" }]
keywords = ["apng", "png", "nanobind", "pybind11"]
classifiers = ["Topic :: Multimedia :: Graphics"]
dependencies = ["Pillow", "numpy"]
dynamic = ["version"]

[project.urls]
homepage = "https://github.com/laggykiller/apngasm-python"
Source = "https://github.com/laggykiller/apngasm-python"
Documentation = "https://github.com/laggykiller/apngasm-python"
Tracker = "https://github.com/laggykiller/apngasm-python/issues"
repository = "https://github.com/laggykiller/apngasm-python"

[build-system] # How pip and other frontends should build this project
requires = ["py-build-cmake>=0.2.0a4", "nanobind @ git+https://github.com/wjakob/nanobind.git", "nanobind-stubgen"]
build-backend = "py_build_cmake.build"

[tool.py-build-cmake.module] # Where to find the Python module to package
name = "apngasm_python"
directory = "src-python"

[tool.py-build-cmake.sdist] # What to include in source distributions
include = ["CMakeLists.txt", "cmake/*.cmake", "src/*", "src-python/*", "*.bat", "*.sh", "apngasm/*"]

[tool.py-build-cmake.cmake] # How to build the CMake project
build_type = "Release"
source_path = "."
options = { "WITH_PY_STUBS:BOOL" = "On", "CMAKE_FIND_DEBUG_MODE" = "On" }
find_python3 = false
find_python = true
build_args = ["-j", "--verbose"]
install_components = ["python_module"]

[tool.cibuildwheel]
build-verbosity = 1
environment = { PY_BUILD_CMAKE_VERBOSE="1" }

[tool.py-build-cmake.mac.cmake] # macOS-specific options
env = { "LDFLAGS" = "-L/usr/local/opt/icu4c/lib", "CPPFLAGS" = "-I/usr/local/opt/icu4c/include" } # Required for brew installed icu4c